# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Model files
backend/model/bertweet_humor_model/
*.bin
*.safetensors
*.pt
*.pth
*.pkl

# Node
frontend/node_modules/
frontend/dist/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log